[submodule "config/vim/vimfiles_tagbar/pack/plugin/start/tagbar"]
	path = config/vim/vimfiles_tagbar/pack/plugin/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "config/vim/vimfiles_tagbar/pack/plugin/start/taglist"]
	path = config/vim/vimfiles_tagbar/pack/plugin/start/taglist
	url = https://github.com/yegappan/taglist.git
